/* Global styles */
body {
    font-family: 'Poppins', sans-serif !important;
    line-height: 1.5;
    max-width: 500px;
    margin: auto !important;
}

.container {
    padding: 1rem;
}

.tittle {
    font-weight: 900 !important;
}

.container-program {
    padding: 1rem;
    position: relative;
}

.title-program {
    position: absolute;
    bottom: -10px;
    left: 34%;
    padding: 0.3rem !important;
    border-radius: 0.5rem;
}

.title-program-2 {
    position: absolute;
    bottom: -10px;
    left: 40%;
    padding: 0.3rem !important;
    border-radius: 0.5rem;
}

.title-program-3 {
    position: absolute;
    bottom: -10px;
    left: 38%;
    padding: 0.3rem !important;
    border-radius: 0.5rem;
}

.section-1 {
    background: linear-gradient(to right, #fff 70%, #E4FFFF 50%);
}

.section-4 {
    position: relative;
    padding: 1rem;
    margin-bottom: 2rem;
}

.section-5 {
    background-image: linear-gradient( #EEDDFF, #FFF);
}

.img-sec-5 {
    position: relative;
    left: 175px;
}

.text-sec-5 {
    position: absolute;
    width: 13%;
    z-index: 1000;
    margin-left: 2rem;
}

.section-6 {
    position: relative;
    background-color: #30BAFF;
}

.icon_rocket_2 {
    position: absolute;
    top: -15%;
    left: 50%;
}

.section-7 {
    position: relative;
    margin-top: 1rem;
}

.icon-rocket {
    position: absolute;
    top: 5%;
    right: 0;
}

.ml-2 {
    margin-left: 2rem;
}

.bg-cloud {
    background-image: url('../images/icon-cloud.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 30px;
}

.section-10 {
    height: 530px;
    position: relative;
}

.bg-kelas {
    filter: brightness(0.4);
}

.text-kelas {
    color: white;
    position: absolute;
    top : 3%
}

.section-info {
    background-color: black;
}
.txt-nyaman {
    color: #333333;
    font-weight: 900;
    -webkit-text-stroke: 10px white;
    paint-order: stroke fill;
}

.d-grid-footer {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 4px;
}


.zoom:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
    transform-origin:right top;
    transition: .2s;
}

.frame{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 275px;
    height: 360px;
    border-radius: 1rem;
    background-color: #f3efef;
    object-fit: cover;
}

.btn-daftar {
    position: absolute;
    top: 36%;
    right: 0;
}

.icon-toga {
    position: absolute;
    top: 18%;
    right: 17%;
}

.icon-toga-2 {
    position: absolute;
    bottom: -10%;
    left: 22%;
}

.icon-cloud-1 {
    position: absolute;
    top: 25%;
    left: 0;
    animation:
    4s linear 0s infinite alternate toright;
}

.icon-cloud-2 {
    position: absolute;
    top: 32%;
    right: 0;
    animation:
    3s linear 0s infinite alternate toright;
}

.icon-cloud-3 {
    position: absolute;
    top: 15%;
    right: 0;
    animation:
    3s linear 0s infinite alternate toright;
}

.embed-responsive {
    display: flex;
    justify-content: center;
}

.embed-responsive-short {
    display: flex;
    justify-content: center;
    height: 500px;
}

iframe {
    aspect-ratio: 16 / 9;
    width: 100% !important;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    text-align: center;
}

.card-1{
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                        url('../images/bg-paper.jpg');
    width: 70%;
    border: #1592D0 2px solid;
    border-radius: 1rem;
    padding: 1rem;
}

.card-2{
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                        url('../images/bg-paper.jpg');
    width: 65%;
    border: #FF3EAA 2px solid;
    border-radius: 1rem;
    padding: 1rem;
}

.card {
    max-width: 50% !important;
    height: 50%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.row-card {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    scrollbar-width: none; /* Firefox */
}

.card-testi{
    width: 200px !important;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    border: none !important;
}

.card-header {
    border: none !important; 
    background-color: white !important;
}

.form-control {
    border-radius: 1rem !important;
    border-color: #0094D7 !important;
    --bs-border-width: 2px;
}

.form-control-group {
    border: 0;
    outline: 0;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    margin-left: 4px;
    width: 68%;
}

.modal-dialog {
    max-width: 480px !important;
}

.input-group {
    max-width: 100%;
    border: 2px solid #0094D7;
    outline: 0;
    border-radius: 1rem;
    height: 100%;
    text-align: left;
    box-shadow: 0px 0px 1px 0px;
  }


  .select2 + .select2-container .select2-selection {
    border: 2px solid #0094D7;
    border-radius: 1rem;
    border-color: #0094D7 !important;
    min-height: 35px;

  }

.btn-mulai {
    background-color: #704996 !important;
    border: none !important;
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.6rem !important;
    cursor: pointer;
}

.btn-trial-class {
    width: 70%;
    background-color: #FF3EAA !important;
    border: none !important;
    padding: 1rem 2rem;
    border-radius: 0.6rem !important;
}

.btn-daftar-sekolah {
    width: 55%;
    background-color: #FFD900 !important;
    border: none !important;
    padding: 1rem 1rem;
    border-radius: 0.6rem !important;
    box-shadow: 0 0 10px 0 #FFD900;

}

.btn-trial {
    width: 55%;
    background-color: #D8AFFFCC !important;
    border: none !important;
    padding: 1rem 1rem;
    border-radius: 0.6rem !important;
    box-shadow: 0 0 10px 0 #D8AFFFCC;

}

.btn-kunjungi {
    width: 55%;
    background-color: #87E9FFCC !important;
    border: none !important;
    padding: 1rem 1rem;
    border-radius: 0.6rem !important;
    box-shadow: 0 0 10px 0 #87E9FFCC;

}

.text-justify {
    white-space: pre-wrap;
    text-align: justify !important;
    text-justify: inter-word !important;
    font-size: 14px;
}

@media only screen and (max-width: 510px) {
    .img-sec-5 {
        position: relative;
        left: 139px;
    }
    
    .text-sec-5 {
        position: absolute;
        width: 38%;
        left: 50px;
        z-index: 1000;
        margin-left: 0;
        font-size: 12px;

    }

    .title-program {
        position: absolute;
        bottom: -10px;
        left: 30%;
        padding: 0.3rem !important;
        border-radius: 0.5rem;
    }

    .title-program-2 {
        position: absolute;
        bottom: -10px;
        left: 36%;
        padding: 0.3rem !important;
        border-radius: 0.5rem;
    }
    
    .title-program-3 {
        position: absolute;
        bottom: -10px;
        left: 35%;
        padding: 0.3rem !important;
        border-radius: 0.5rem;
    }

    .icon-cloud-3 {
        position: absolute;
        top: 19%;
        right: 0;
        animation:
        3s linear 0s infinite alternate toright;
    }

  }

  @property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }

  .counter {
    animation: counter 5s forwards ease-in-out;
    counter-reset: num var(--num);
    font: 800 40px system-ui;
    padding: 2rem;
  }
  
  .counter::after {
    content: counter(num) '+';
  }
  
  @keyframes counter {
    from {
      --num: 0;
    }
    to {
      --num: 305;
    }
  }

  @keyframes toright {
    from {
      transform: translateX(1vw);
    }
    to {
      transform: translateX(-1vw);
    }
  }
